Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Cors==4.0.1

numpy==1.26.4
opencv-python==4.10.0.84
Pillow==10.4.0
rembg==2.0.57

onnxruntime==1.18.1

scipy==1.13.1
scikit-image==0.24.0

python-dotenv==1.0.1
Werkzeug==3.0.3

gunicorn==22.0.0
waitress==3.0.0
